@font-face{
  font-family:'led-font';
  src: url('digital-7.mono.ttf');
}
body {
  background-color: #333;
}
.container {
  font-family: led-font;
  width: 500px;
  margin: auto;
}
#score-card {
  width: 500px;
  font-size: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
}
#score {
  width: 100px;
  text-align: right;
}
#status-message {
  font-size: 24px;
  width: 100%;
  text-align: left;
}
#game {
  position: relative;
  top: 25px;
  height: 499px;
  width: 499px;
  background-color: #fff;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
#game .border {
  background-color: #ddd;
  width: 24px;
  height: 24px;
}
#game.no-boundary .border {
  background-color: #444;
}
#game.paused .target,
#game.game-over .target,
#game.paused .snake,
#game.game-over .snake,
#game.paused .border,
#game.game-over .border {
  opacity: .5;
}
#game .overlay {
  box-sizing: border-box;
  opacity: 1 !important;
  position: relative;
  background-color: #fff;
  z-index: 10;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  width: 200px;
  padding-top: 36px;
}
#game .overlay .border {
  background-color: #333;
  opacity: 1;
}
#game .overlay-text span {
  display: inline-block;
  font-size: 24px;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
}
.new-game-link span {
  color: blue;
  cursor: pointer;
}
.snake, .target, .border {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 10%;
}
.snake {
  background-color: #444;
  z-index: 2;
  /*border-radius: 25%;*/
}
.snake-head {
  top: 0;
  left: 0;
  position: absolute;
  background: radial-gradient(circle at center, transparent 2px, #111 0);
}
/*
.snake-head.dir-0, 
.snake-head.dir-3, 
.snake-tail.dir-2,
.snake-tail.dir-1 {
  border-top-left-radius: 33%;
}
.snake-head.dir-1,
.snake-head.dir-0,
.snake-tail.dir-3,
.snake-tail.dir-2 {
  border-top-right-radius: 33%;
}
.snake-head.dir-2,
.snake-head.dir-1,
.snake-tail.dir-0,
.snake-tail.dir-3 {
  border-bottom-right-radius: 33%;
}
.snake-head.dir-3,
.snake-head.dir-2,
.snake-tail.dir-1,
.snake-tail.dir-0 {
  border-bottom-left-radius: 33%;
}
*/
.snake.dir-0 { /* UP */
}
.snake.dir-1 { /* RIGHT */
}
.snake.dir-2 { /* DOWN*/
}
.snake.dir-3 { /* LEFT */
} 
.target {
  background-color: #e00;
}
.left-border {
  left: -25px;
}
.right-border {
  right: -25px;
}
.top-border {
  top: -25px;
}
.bottom-border {
  bottom: -25px;
}
.col-0 {
  left: 0;
}
.col-1 {
  left: 25px;
}
.col-2 {
  left: 50px;
}
.col-3 {
  left: 75px;
}
.col-4 {
  left: 100px;
}
.col-5 {
  left: 125px;
}
.col-6 {
  left: 150px;
}
.col-7 {
  left: 175px;
}
.col-8 {
  left: 200px;
}
.col-9 {
  left: 225px;
}
.col-10 {
  left: 250px;
}
.col-11 {
  left: 275px;
}
.col-12 {
  left: 300px;
}
.col-13 {
  left: 325px;
}
.col-14 {
  left: 350px;
}
.col-15 {
  left: 375px;
}
.col-16 {
  left: 400px;
}
.col-17 {
  left: 425px;
}
.col-18 {
  left: 450px;
}
.col-19 {
  left: 475px;
}
.row-0 {
  top: 0;
}
.row-1 {
  top: 25px;
}
.row-2 {
  top: 50px;
}
.row-3 {
  top: 75px;
}
.row-4 {
  top: 100px;
}
.row-5 {
  top: 125px;
}
.row-6 {
  top: 150px;
}
.row-7 {
  top: 175px;
}
.row-8 {
  top: 200px;
}
.row-9 {
  top: 225px;
}
.row-10 {
  top: 250px;
}
.row-11 {
  top: 275px;
}
.row-12 {
  top: 300px;
}
.row-13 {
  top: 325px;
}
.row-14 {
  top: 350px;
}
.row-15 {
  top: 375px;
}
.row-16 {
  top: 400px;
}
.row-17 {
  top: 425px;
}
.row-18 {
  top: 450px;
}
.row-19 {
  top: 475px;
}
